<div class="mb-3" action="/courses/store">
    <form method="" action="">
        <label for="search-input" class="form-label">Tìm kiếm</label>
        <input name="q" type="text" class="form-control" id="search-input" placeholder="Tìm kiếm..." />
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>